body {
  margin: 0;
  height: 100vh;
  background: rgba(50, 50, 50, 1);
  color: rgba(0, 255, 0, 1);
}

:root {
  --tp-base-font-family: "Orbitron", "Noto Sans JP";
  --tp-base-background-color: hsla(230, 7%, 17%, 1);
  --tp-base-shadow-color: hsla(0, 0%, 0%, 0.2);
  --tp-button-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-button-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-button-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-button-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-button-foreground-color: hsla(230, 7%, 75%, 1.00);
  --tp-container-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-container-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-container-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-container-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-container-foreground-color: hsla(100, 100%, 50%, 1.00);
  --tp-groove-foreground-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color: hsla(230, 7%, 75%, 0.1);
  --tp-input-background-color-active: hsla(230, 7%, 75%, 0.25);
  --tp-input-background-color-focus: hsla(230, 7%, 75%, 0.2);
  --tp-input-background-color-hover: hsla(230, 7%, 75%, 0.15);
  --tp-input-foreground-color: hsla(230, 7%, 75%, 1.00);
  --tp-label-foreground-color: hsla(230, 0%, 100%, 0.70);
  --tp-monitor-background-color: hsla(230, 7%, 0%, 0.2);
  --tp-monitor-foreground-color: hsla(230, 7%, 75%, 0.70);
}

.tp-sglv_i {
  text-align: end;
}

.tp-p2dv_b, .tp-btnv_b, .tp-lstv_s {
  font-weight: normal !important;
  text-align: end;
}

.receiver-container {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

#RemoteVideo {
  width: 100%;
  height: auto;
  display: block;
  background: black;
}

/* ----- 共通 Overlay ----- */
#PermissionButton,
#SenderId,
#TweakpaneMenu,
#HeadUpDisplay,
#Aircraft,
#SenderQR,
#AudioVisualizer,
#NetworkMonitoring,
#WebrtcReport,
#RadarMap {
  position: absolute;
  z-index: 10;
  pointer-events: auto;
  font-family: monospace;
  color: rgba(0, 255, 0, 1);
}

/* ---------- 左上 ---------- */
#TweakpaneMenu {
  top: 10px;
  left: 10px;
  z-index: 11;
  width: 300px;
}

/* ---------- 中央全面 ---------- */
#SenderId {
  top: 10px;
  left: 10px;
}

#PermissionButton {
  top: 40px;
  left: 10px;
  padding: 10px 20px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 255, 0, 1);
}

#HeadUpDisplay {
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#WebrtcReport {
  overflow: auto;
  top: 0px;
  left: 50%;
  width: 50%;
  height: 90%;
  transform: translate(-50%, 0%);
  background: rgba(0, 0, 0, 0.8);
}

#RadarMap {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.8;
  pointer-events: none;
}

/* ---------- 右上 ---------- */
#SenderQR {
  top: 0;
  right: 0;
  text-align: right;
  pointer-events: none;
  display: none;
}

#SenderQR img {
  display: block;
  margin-left: auto;
}

#SenderQR p {
  margin: 0;
  padding: 4px 8px;
  font-size: 12px;
  background: rgba(0, 0, 0, 0.5);
}

#Aircraft {
  top: 7.5%;
  transform: translateY(-10%);
  right: 10px;
  width: 160px;
  opacity: 0.7;
  filter:
    /* brightness(0.8) */
    sepia(1) hue-rotate(60deg) saturate(2.5);
}

/* ---------- 左下 ---------- */
#AudioVisualizer {
  left: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.4);
  padding: 8px;
}

/* ---------- 右下 ---------- */
#NetworkMonitoring {
  right: 5px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px 8px;
  border-radius: 6px;
}

/* ------------------------------------ 
  TweakpaneMenu
--------------------------------------- */
.tp-lblv {
  align-items: unset !important;
  flex-direction: column;
}

.tp-lblv_v {
  width: 100% !important;
  padding-top: var(--cnt-vp);
  padding-bottom: var(--cnt-vp);
}

/* ------------------------------------
  NetworkMonitoring (Realtime chart)
--------------------------------------- */

#NetworkMonitoring svg {
  font: 10px sans-serif;
  fill: rgba(0, 255, 0, 1);
  /* background: rgba(0, 0, 0, 0.3); */
}

#NetworkMonitoring .chart-axis path,
#NetworkMonitoring .chart-axis line {
  fill: none;
  stroke: rgba(0, 255, 0, 1);
  shape-rendering: crispEdges;
}

#NetworkMonitoring .chart-axis-x line {
  shape-rendering: auto;
}

#NetworkMonitoring .chart-line {
  fill: none;
  stroke: rgba(0, 255, 0, 0.8);
  stroke-width: 0.8px;
}

#NetworkMonitoring .chart-bar {
  fill: rgba(0, 255, 0, 0.6);
}

#NetworkMonitoring .chart-area {
  fill: rgba(0, 255, 0, 0.4);
}

#NetworkMonitoring .chart-grid-x {
  stroke: rgba(0, 255, 0, 0.5);
  stroke-width: 0.5;
  stroke-dasharray: 3, 6;
}

#NetworkMonitoring .chart-grid-y {
  stroke: rgba(0, 255, 0, 0.8);
  stroke-width: 0.5;
}

#NetworkMonitoring .chart-label {
  font-size: 11px;
}

#NetworkMonitoring .chart-label-left {
  text-anchor: start;
}

#NetworkMonitoring .chart-label-right {
  text-anchor: end;
}